{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<style>
  body {
    background-image: url('{% static "images/12.png" %}');
  }
</style>

<form style="margin-top:10%;margin-bottom:10%;" action="/action_page.php" method="post">

  <div class="container">
    <h2 class="loginheader">LOGIN</h2>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button> 
  </div>
</form><br>
{% endblock %}