{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Upload
{% endblock %}

{% block body_block %}
<style>
    body {
        background-image: url('{% static "images/5.jpg" %}');

    }
</style>
{% block content %}
<form class="uploadform"  method="POST" action="{% url 'rango:upload' %}">
        {% csrf_token %}
    <div class="uploadcontainer">
        <h2 style="color:black;font-size:20px;margin-left:35%;">Upload Your Blog</h2>
        <input type="text" placeholder="Enter Headline" name="blog_headline" required>
        <div style="display: flex;">
            <input type="text" placeholder="Enter Restaurant Name" name="restaurant_name" required>
            <input type="text" placeholder="Enter Rating" name="rating" required>
        </div>
        <input type="text" placeholder="Enter location" name="location" required>
        <textarea style="width:100%;" name="review"> Enter Description</textarea>
        <div class="uploadimg">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
        </div><br>
        <button style="color: white;" type="submit">Upload</button>
    </div>
</form><br>
{% endblock %}





{% endblock %}