{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
User profile
{% endblock %}

{% block body_block %}
<style>
    .card-no-border .card {
        border-color: #d7dfe3;
        border-radius: 4px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
    }
    body {
        background-color: #a96c6c;
        font-family: Arial;
    }
</style>
<div class="card" style="margin-top:10%;padding-bottom:55%;"> <img class="card-img-top"
        src='{% static "images/6.jpg" %}' alt="Card image cap">
    <div class="card-body little-profile text-center">
        <div class="pro-img"><img src='{% static "images/user.jpg" %}' alt="user"></div>
        <h3 class="profilename">Brad Macullam</h3>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" onclick="modalbox()">Edit Profile pic</button>

        <div class='tabs'>
            <input type='radio' id='r1' name='t' checked><label for='r1'>Blogs</label>
            <div class='content'>
                
                    <div class="column">
                        <div class="card">
                            <div style="display:flex">
                                <div>
                                    <img class="blogimg" src="{% static 'images/2.jpg' %}">
                                </div>
                                <div>
                                    <h1>"Amazing Experience, Loved it!!!!"</h1>
                                    <h3>Din Tai Fung</h3>
                                    <p class="blogcontent"><b>Location: Glasgow,
                                            Scotland</b><br><br><b>Rating: 9.0</b><br><br>Absolutely
                                        amazing
                                        place to eat, we will be making a reservation for our next visit! 10
                                        of 10 for every single aspect of this
                                        meal, and this is coming from people who know and love great
                                        food!Everything about this restaurant was
                                        great. The place was clean and smelled good. The staff and greeter
                                        was very nice. Our waiter was awesome,
                                        the staff also worked as a team in bringing and cleaning up our
                                        food. The food was fresh and awesome. Then
                                        we also had dessert and that was really good as well. Great
                                        atmosphere with really nice people.</p>
                                </div>
                            </div>
                            <hr style="border:1px solid rgb(149, 9, 9);width:70%;margin-left:25%;">
                            <div class="comment-section">
                                <div style="display: flex;margin-left:10%;">
                                    <div style="margin-left:-30%;margin-right: 20%;">
                                        <strong id="like_count">40</strong> likes
                                        <button style="background-color:#ce1212;" type="button">
                                            <span data-feather="thumbs-up"></span>
                                            Like
                                        </button>
                                    </div>
                                    <div class="usercomment">
                                        <div>
                                            <img src="{% static 'images/3.jpg' %}" alt="avatar" width="40"
                                                height="40" />
                                        </div>
                                        <div class="comments">
                                            <textarea class="form-control" id="textAreaExample"
                                                rows="4">Write a comment..</textarea>
                                        </div>
                                        <div class="commentbtn">
                                            <button type="button">Post</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                   
                </div>

            </div><input type='radio' id='r2' name='t'><label for='r2'>Likes</label>
            <div class="content">
                <div class="column">
                    <div class="card">
                      <div style="display:flex">
                        <div>
                          <img class="blogimg" src="{% static 'images/3.jpg' %}">
                        </div>
                        <div>
                          <h1>"Delicious Food... Worth It!"</h1>
                          <h3>TGI Fridays</h3>
                          <p class="blogcontent"><b>Location: Stirling, Scotland</b><br><br><b>Rating: 9.0</b><br><br>Absolutely
                            amazing
                            place to eat, we will be making a reservation for our next visit! 10 of 10 for every single aspect of this
                            meal, and this is coming from people who know and love great food!Everything about this restaurant was
                            great. The place was clean and smelled good. The staff and greeter was very nice. Our waiter was awesome,
                            the staff also worked as a team in bringing and cleaning up our food. The food was fresh and awesome. Then
                            we also had dessert and that was really good as well. Great atmosphere with really nice people.</p>
                        </div>
                      </div>
                      <hr style="border:1px solid rgb(149, 9, 9);width:70%;margin-left:25%;">
                      <div class="comment-section">
                        <div>
                          <h1 class="commentheader">Comments</h1>
                          <div class="commentbox">
                            <img src="{% static 'images/3.jpg' %}" alt="avatar" width="40" height="40" />
                           <div style="display: block;">
                            <p style="margin-left: 20px;"><b>User263198263</b></p>
                            <p> Good blog! </p>
                           </div>
                            
                          </div>
                
                        </div>
                        <div style="display: flex;margin-left:10%;">
                          <div style="margin-left:-30%;margin-right: 20%;">
                            <strong id="like_count">30</strong> likes
                            <button style="background-color:#ce1212;" type="button">
                              <span data-feather="thumbs-up"></span>
                              Like
                            </button>
                          </div>
                         <div class="usercomment">
                          <div>
                            <img src="{% static 'images/3.jpg' %}" alt="avatar" width="40" height="40" />
                          </div>
                          <div class="comments">
                            <textarea class="form-control" id="textAreaExample" rows="4">Write a comment..</textarea>
                          </div>
                          <div class="commentbtn">
                            <button type="button" >Post</button>
                          </div>
                         </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div id='slider'></div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form class="profile">
                    <input type="file" id="myFile" name="filename">
                    <input type="submit">
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}